<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gym Template" />
    <meta name="keywords" content="Gym, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zest Fitness</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/barfiller.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />

    <style>
      #searchBar {
        width: 100%;
        max-width: 500px;
        padding: 10px 15px;
        margin: 20px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
        <i class="fa fa-close"></i>
      </div>
      <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
      </div>
      <nav class="canvas-menu mobile-menu">
        <ul>
          <li><a href="t-index">Home</a></li>
          <li><a href="t-attendance">Attendance</a></li>
          <li>
            <a href="#">Activities</a>
            <ul class="dropdown">
              <li><a href="t-class-timetable">Schedules</a></li>
              <li><a href="t-activities">My Activities</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Workout</a>
            <ul class="dropdown">
              <li><a href="t-video">Video Tutorial</a></li>
            </ul>
          </li>
          <li><a href="t-profile"> Profile </a></li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div class="logo">
              <a href="t-index">
                <img src="img/logo.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="nav-menu">
              <ul>
                <li><a href="t-index">Home</a></li>
                <li><a href="t-attendance">Attendance</a></li>
                <li>
                  <a href="#">Activities</a>
                  <ul class="dropdown">
                    <li><a href="t-class-timetable">Schedules</a></li>
                    <li><a href="t-activities">My Activities</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Workout</a>
                  <ul class="dropdown">
                    <li><a href="t-video">Video Tutorial</a></li>
                  </ul>
                </li>
                <li><a href="t-profile"> Profile </a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="top-option">
              <div class="to-search search-switch">
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="canvas-open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>

    <!-- Hero Section Begin -->
    <section class="hero-section">
      <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-6">
                <div class="hi-text">
                  <span>Shape your body</span>
                  <h1><strong>Video Tutorials</strong></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-6">
                <div class="hi-text">
                  <span>Shape your body</span>
                  <h1>Be <strong>strong</strong> traning hard</h1>
                  <a href="#" class="primary-btn">Get info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Video Tutorial Section Begin -->
    <section class="video-tutorial-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <span>Learn with us</span>
              <h2 style="color: black">VIDEO TUTORIAL</h2>
            </div>
          </div>
        </div>

        <!-- Add Video Section -->
        <div class="row">
          <div class="col-lg-12">
            <form method="post" action="addTVideo"
              class="bg-slate-300"
            >
              <input
                type="text"
                name="videoUrl"
                placeholder="Enter video URL"
                class="border-none bg-slate-300 p-2"
                required
              />
              <input
                type="text"
                name="videoTitle"
                placeholder="Enter video title"
                class="border-none bg-slate-300 p-2 ml-3"
                required
              />
              
              <input type="hidden" name="userName" th:value="${session.username}">
              <button type="submit" class="btn btn-success ml-4">
                Add Video
              </button>
            </form>
          </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
          <div class="col-lg-12">
            <form onsubmit="return false;">
              <input
                type="text"
                id="searchBar"
                placeholder="Search for videos..."
                onkeyup="filterVideos()"
              />
            </form>
          </div>
        </div>

        <!-- Video List -->
        <!-- Video List -->
		<div class="row" id="videoContainer">
    <!-- Iterate over the video list passed from the controller -->
		    <th:block th:each="video : ${vList}">
		        <div class="col-md-4 video-item">
		            <!-- Extract YouTube video ID dynamically -->
		            <iframe
		                width="100%"
		                height="250"
		                th:src="@{'https://www.youtube.com/embed/' + ${#strings.substring(video.videoUrl, video.videoUrl.indexOf('=') + 1)}}"
		                frameborder="0"
		                allowfullscreen
		            ></iframe>
		            <h3 th:text="${video.videoTitle}">Video Title</h3>
		            <button class="btn btn-danger" onclick="deleteVideo(this)">
		                Delete
		            </button>
		            <button class="btn btn-primary">
		                Edit
		            </button>
		        </div>
		    </th:block>
		</div>



        <!-- No Results Message -->
        <div class="row" id="noResults" style="display: none">
          <div class="col-lg-12">
            <p style="text-align: center; font-size: 18px; color: red">
              Video not found
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Video Tutorial Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="gt-text">
              <i class="fa fa-map-marker"></i>
              <p>
                333 Middle Winchendon Rd, Rindge,<br />
                NH 03461
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gt-text">
              <i class="fa fa-mobile"></i>
              <ul>
                <li>125-711-811</li>
                <li>125-668-886</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="gt-text email">
              <i class="fa fa-envelope"></i>
              <p>Support.gymcenter@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="fs-about">
              <div class="fa-logo">
                <a href="#"><img src="img/logo.png" alt="" /></a>
              </div>
              <p></p>
              <div class="fa-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="fs-widget">
              <h4>Useful links</h4>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="fs-widget">
              <h4>Support</h4>
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="fs-widget">
              <h4>Tips & Guides</h4>
              <div class="fw-recent">
                <h6>
                  <a href="#"
                    >Physical fitness may help prevent depression, anxiety</a
                  >
                </h6>
                <ul>
                  <li>3 min read</li>
                  <li>20 Comment</li>
                </ul>
              </div>
              <div class="fw-recent">
                <h6>
                  <a href="#"
                    >Fitness: The best exercise to lose belly fat and tone
                    up...</a
                  >
                </h6>
                <ul>
                  <li>3 min read</li>
                  <li>20 Comment</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      // Function to filter videos based on search
      function filterVideos() {
	    var input = document.getElementById('searchBar').value.toUpperCase();
	    var videoContainer = document.getElementById('videoContainer');
	    var videoItems = videoContainer.getElementsByClassName('video-item');
	
	    var noResults = document.getElementById('noResults');
	
	    var found = false;
	
	    for (var i = 0; i < videoItems.length; i++) {
	        var title = videoItems[i].getElementsByTagName("h3")[0].textContent || videoItems[i].getElementsByTagName("h3")[0].innerText;
	        
	        if (title.toUpperCase().indexOf(input) > -1) {
	            videoItems[i].style.display = "";
	            found = true;
	        } else {
	            videoItems[i].style.display = "none";
	        }
	    }
	
	    // Display no results message if no videos match the search
	    if (!found) {
	        noResults.style.display = "block";
	    } else {
	        noResults.style.display = "none";
	    }
	}

    </script>
  </body>
</html>
